.createPollContainer {
    padding: 10px 70px 0px 80px;
}

.input {
    height: 40px;
    width: 40%;
    border: 1px solid slategrey;
}

.addOption {
    display: flex;
    margin-top: 1.4rem;
    gap: 12px;
}

.optionInput {
    width: 25%;
    height: 34px;
    border: 1px solid grey;
}

.optionsClass {
    margin-top: 50px;
    width: 100%;
    min-height: 10rem;
}

.optionContainer {
    display: flex;
    width: 84%;
    gap: 6%;
    align-items: center;
    margin-bottom: 20px;
}

.deleteButtonClass {
    width: 29% !important;
    border-radius: 20px;
}