.alertsContainer {
    position:fixed;
    right: 2%;
    top: 2%;
}

.alert {
    margin-bottom: 20px;
    min-width: 17rem;
    animation: slideInLeft 0.5s ease-in;
}



@keyframes slideInLeft {
    0% {
      transform: translateX(100%);
      opacity: 0.3;
    
    }
    50% {
        transform: translateX(0%);
        opacity: 1;
    }
}